<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="base::navlinks"></div>

<form action="#"
      th:action="@{/addusercategories}"
      th:object="${appUser}"
      method="post">
    <div class="col-3">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{username}" />
        <input type="hidden" th:field="*{password}" />
    </div>

    <div>
        <div th:if="${appUser.business} == 'business'"><input  type="checkbox" th:name="${appUser.business}" th:value="business" checked> Business<br></div>
        <div th:if="${appUser.business} == null"><input  type="checkbox" th:name="${appUser.business}" th:value="business"> Business<br></div>
        <div th:if="${appUser.entertainment} == 'entertainment'"><input  type="checkbox" th:name="${entertainment}" th:value="entertainment" checked> entertainment<br></div>
        <div th:if="${appUser.entertainment} == ''"><input  type="checkbox" th:name="${entertainment}" th:value="entertainment" > entertainment<br></div>
        <div th:if="${appUser.general} == 'general'"><input  type="checkbox" th:name="${general}" th:value="general" checked> general<br></div>
        <div th:if="${appUser.general} == ''"><input  type="checkbox" th:name="${general}" th:value="general" > general<br></div>
        <div th:if="${appUser.health} == 'health'"><input  type="checkbox" th:name="${health}" th:value="health" checked> health<br></div>
        <div th:if="${appUser.health} == ''"><input  type="checkbox" th:name="${health}" th:value="health" > health<br></div>
        <div th:if="${appUser.science} == 'science'"><input  type="checkbox" th:name="${science}" th:value="science" checked> science<br></div>
        <div th:if="${appUser.science} == ''"><input  type="checkbox" th:name="${science}" th:value="science" > science<br></div>
        <div th:if="${appUser.sports} == 'sports'"><input  type="checkbox" th:name="${sports}" th:value="sports" checked> sports<br></div>
        <div th:if="${appUser.sports} == ''"><input  type="checkbox" th:name="${sports}" th:value="sports" > sports<br></div>
        <div th:if="${appUser.technology} == 'technology'"><input  type="checkbox" th:name="${technology}" th:value="technology" checked> technology<br></div>
        <div th:if="${appUser.technology} == ''"><input  type="checkbox" th:name="${technology}" th:value="technology" > technology<br></div>
    </div>

    <div class="col-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>