<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="base::navlinks"></div>

<form action="#"
      th:action="@{/addusercategories}"
      th:object="${appUser}"
      method="post">
    <div class="col-3">
        <input type="hidden" th:field="*{id}" />
    </div>

    <div>
        <div th:swtich:="${appUser.userCategories.business}">
            <input th:case="business" type="checkbox" name="business" value="business" checked> Business<br>
            <input th:case="" type="checkbox" name="business" value=""> Business<br>
        </div>
        <div th:swtich:="${appUser.userCategories.entertainment}">
            <input th:case="entertainment" type="checkbox" name="entertainment" value="entertainment" checked> Entertainment<br>
            <input th:case="" type="checkbox" name="entertainment" value=""> Entertainment<br>
        </div>
        <div th:swtich:="${appUser.userCategories.general}">
            <input th:case="general" type="checkbox" name="general" value="general" checked> General<br>
            <input th:case="" type="checkbox" name="general" value=""> General<br>
        </div>
        <div th:swtich:="${appUser.userCategories.health}">
            <input th:case="health" type="checkbox" name="health" value="health" checked> Health<br>
            <input th:case="" type="checkbox" name="health" value=""> Health<br>
        </div>
        <div th:swtich:="${appUser.userCategories.science}">
            <input th:case="false" type="checkbox" name="science" value="science" checked> Science<br>
            <input th:case="" type="checkbox" name="science" value=""> Science<br>
        </div>
        <div th:swtich:="${appUser.userCategories.sports}">
            <input th:case="sports" type="checkbox" name="sports" value="sports" checked> Sports<br>
            <input th:case="" type="checkbox" name="sports" value=""> Sports<br>
        </div>
        <div th:swtich:="${appUser.userCategories.technology}">
            <input th:case="technology" type="checkbox" name="technology" value="technology" checked> Technology<br>
            <input th:case="" type="checkbox" name="technology" value=""> Technology<br>
        </div>

    </div>
    <br/>

    <div class="col-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>