<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>confirmation</title>
</head>
<body>
<th:block th:replace="base::navlinks"></th:block>
<h1 style="text-align: center;color:dodgerblue">Confirmation</h1>
<div sec:authorize="hasAuthority ('ADMIN')">

    <div th:object="${user}">
        <div th:object="${course}" style="text-align: center">
            <h3 th:inline="text" style="padding-top: 5%"> <strong>[[${user.username}]]</strong> is approved for <strong>[[${course.courseName}]]</strong> and  an email has been sent.</h3>
        </div>
    </div>
</div>

<th:block th:replace="base::footer"></th:block>
<th:block th:replace="base::js"></th:block>

</body>
</html>