<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>confirmation</title>
</head>
<body>
<th:block th:replace="base::navlinks"></th:block>
<div sec:authorize="hasAuthority ('ADMIN')">

    <div th:object="${user}">
        <div th:object="${course}" >
            <span th:inline="text"> [[${user.username}]] is are approved for [[${course.courseName}]] and email sent!
								</span>
        </div>
    </div>
</div>

<th:block th:replace="base::footer"></th:block>
<th:block th:replace="base::js"></th:block>

</body>
</html>