<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Resume</title>
</head>
<body>
<form action = "#"
      th:action="@{/addusercategories}"
      th:object="${item}"
      method="post">
    <input type="hidden" th:field="*{id}" />

    Item Name : <input type="text" th:field="*{interestName}" />
    <span th:if="${#fields.hasErrors('interestName')}"
          th:errors="*{interestName}"></span><br />


    <input type="submit" values="Submit" />
</form>
</body>
</html>