<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>

<th:block th:replace="base::navlinks"></th:block>
<div sec:authorize="hasAuthority ('USER')">
    <h1 style="text-align: center;color:dodgerblue">Confirmation</h1>


        <div th:each="user:${user}" >
            <div th:each="course:${course}"
            <h3 th:inline="text" style="text-align: center">Hey [[${user.username}]], you have applied for [[${course.courseName}]]
                we will contact you back soon via your email.</h3>
        </div>

    <div sec:authorize="hasAuthority ('ADMIN')">
        <h1>the below applicant is approved for the following course ....email</h1>

        <th:block th:each="program:${program}">
            <div th:each="user:${program.userApproved}" >
   <span th:inline="text">[[${user.username}]]      [[${program.courseName}]]
								</span>
            </div>
        </th:block>
    </div>

    <th:block th:replace="base::footer"></th:block>
    <th:block th:replace="base::js"></th:block>

</body>
</html>