<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/criteriastylesheet.css">
    <link rel="stylesheet" href="../static/css/criteriastylesheet.css">


<body>

<th:block th:replace="base::navlinks"></th:block>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<div class=container>
    <h3 class="text-center  heading">Admission Criteria Form</h3>
    <form th:action="@{/criteria}" th:object="${appUserCriteriaform}" method="post">

        <div class="form-group">
            <h5 for="topics"> please fill out the following criteria form </h5>
            <div class="row">
                <div class="col">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaEnglish"><span class=paddingTopics>English Language Learner</span></label>
                    </div>
                    <input type="hidden" th:field="*{username}"/>
                    <input type="hidden" th:field="*{password}"/>
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaUnemployed"><span class=paddingTopics>Unemployed with barriers to employment</span>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaUnderEmployed"><span class=paddingTopics>Underemployed with barriers to better employment</span></label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaComputerComfortable"><span class=paddingTopics>Be comfortable using computers for everyday purposes</span></label>
                    </div>

                    <div class="checkbox ">
                        <label><input type="checkbox" value="true" name="criteriaItInterest"><span class=paddingTopics>Have a strong interest in an IT career</span></label>
                    </div>

                    <div class="checkbox ">
                        <label><input type="checkbox" value="true" name="criteriaWorkInUs"><span class=paddingTopics>Be able to work in the United States</span></label>
                    </div>
                </div>


                <div class=col>
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaDiploma"><span class=paddingTopics>Have a high school diploma or GED</span></label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaUnderstandOOP"><span class=paddingTopics>Basic understanding of object oriented language</span></label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaExperienceOOP"><span class=paddingTopics>Previous experience with an object-oriented language</span></label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaCompSciMajor"><span class=paddingTopics>Major in Computer Science/Information Systems</span></label>
                    </div>


                    <div class="checkbox ">
                        <label><input type="checkbox" value="true" name="criteriaRecentGraduate"><span class=paddingTopics>Graduated within the last 6 years</span></label>
                    </div>


                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="criteriaCurrentEarnings"><span class=paddingTopics>Currently earning $42,000 or less</span></label>
                    </div>


                </div>



            </div>
        </div>

<div style="text-align:-moz-center">
                <button type="submit" class="btn btn-primary" align="center">Submit</button>
</div>
    </form>

</div>







<th:block th:replace="base::footer"></th:block>
<th:block th:replace="base::js"></th:block>
</body>
</html>