<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<th:block th:replace="base::navlinks"></th:block>
<h1 style="text-align: center;color:dodgerblue">Confirmation</h1>
<div style="text-align:center;padding-top: 5%">

    <div th:each="program:${program}">

        <span th:inline="text"><h3>Hello <strong>[[${#authentication.name}]]</strong>, You are Enrolled suceessfully for <strong>[[${program.courseName}]]</strong> course.</h3>
								</span>

    </div>

</div>
    <th:block th:replace="base::footer"></th:block>
    <th:block th:replace="base::js"></th:block>

</body>
</html>