<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <link rel="stylesheet" href="style1.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/css/indexstylesheet.css">
    <link rel="stylesheet" href="css/indexstylesheet.css">


</head>
<body>
<th:block th:replace="base::navlinks"></th:block>

<!--Navigation-->
<!--<nav class="navbar fixed-top navbar-fixed-top navbar-light bg-faded navbar navbar-toggleable-md navbar-light bg-faded navbar-default static-top">-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img class="rbsLogo" src='https://i.vimeocdn.com/portrait/7365071_300x300'></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active navLink" href="#">Intro to S<sup>3</sup>P <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link navLink" href="#">What is S<sup>3</sup>P?</a>
            <a class="nav-item nav-link navLink" href="#">Our Approach</a>
            <a class="nav-item nav-link navLink" href="#">The Ron Brown Scholar Program</a>
        </div>
    </div>
</nav>

<!-- Landing Page Overlay-->

<div class="overlay text-center">
    <h1 class="landingPageText ">Java Bootcamp</h1>
    <div class="buttonSpacer"></div>
    <a href="/criteria" class="btn btn-outline-* btn-lg text-center pull-center appButton">Join Now!</a>
</div>

<!-- Landing Page Image-->
<div class="container-fluid landingPage"></div>

<!-- Introduction Section-->
<div class="container-fluid introducingSection">
    <div class="row introRow">
        <br><br>
        <div class="col-sm-1"></div>
        <div class='col-lg-5 test1'>
            <h1 class="introTitle">Hiring in Tech </h1>
            <!--<hr class="introDivider">-->
            <!--<h2 class='introSub'>An RBS Initiative</h2>-->
            <p class="introText">Hiring in Tech Scholars Program provides highschool graduate students the resources and mentorship needed to successfully compete in the information technology market. By providing students access to mentorship from experienced professionals, we encourage and empower our students to pursue rewarding career. Our program provides a robust support network that guides students through the process of development.

            </p><br/><br/><br/>

            <h1 class="introTitle">Promising the Future</h1>
            <!--<hr class="introDivider">-->
            <!--<h2 class='introSub'>An RBS Initiative</h2>-->
            <p class="introText">Promising the Future Scholars Program provides highschool graduate students the resources and mentorship needed to successfully compete in the information technology market. By providing students access to mentorship from experienced professionals, we encourage and empower our students to pursue rewarding career. Our program provides a robust support network that guides students through the process of development.

            </p>
        </div>
        <div class='col-lg-6 test2'>
            <div class="picSpacer"></div>
            <img class="introPic" src="https://www.ronbrown.org/Themes/RonBrownTheme/Views/LeadersNetwork/images/events-img-3.jpg" style="width: inherit">
        </div>
    </div>
    <br>
    <br>
</div>

<!--Quote Block Section 1-->
<!--<div class="quoteBlock">-->
    <!--<h3 class="text-center quoteText">"We continuously challenge ourselves to impact potential leaders through our motto related to social change, ‘the Value of One, the Power of All.’ GPS will positively impact tens of thousands of lives and careers."</h3>   <h5 class="quoteCredit">Mike Mallory - President & CEO, Ron Brown Scholar Fund</h5>-->
<!--</div>-->

<!--What is program section-->
<!--<div class='container-fluid whatRow'>-->
    <!--<div class="row"><br>-->
        <!--<div class="col-sm-1"></div>-->
        <!--<div class="col-lg-10 whatISSC">-->
            <!--<br>-->
            <!--<br>-->
            <!--<h2 class="whatSSC">What is S<sup>3</sup>P?</h2>-->
            <!--<hr align="left" width="40%">-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-1"></div>-->
            <!--<div class="col-lg-11">-->
                <!--<div class="whatSpacer2"></div>-->
                <!--<h3 class="what2">S<sup>3</sup>P helps students successfully compete in prestigious STEM competitions by providing mentorship, resources, and connections. </h3>-->
            <!--</div>-->
        <!--</div>-->

        <!--<br class="whatSpacer3">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-1"></div>-->
            <!--<div class="col-lg-11">-->
                <!--<p class="what3"> S<sup>3</sup>P empowers and guides students through the process of competing in some of the world’s most selective STEM competitions. By arranging mentorship from leading professionals and students at top universities in a student’s research domain, our program helps students navigate the STEM competition process, from identifying research opportunities and mentors, to conducting research, to presenting and placing in the world’s leading STEM competitions.-->

                    <!--<br>-->
                    <!--<a href='#' class='learnMore'><p class="learnLink" > >> Learn More</p></a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<br>-->

    <!--</div>-->
<!--</div>-->
<!--Photo Divider-->
<!--<div class="container-fluid photoDivider">-->
      <!--<span class="imgOutline"><h3 class='imgCaptionPrim'>Ron Brown Scholars</h3>-->
        <!--<br>-->
        <!--<p class="imgCaptionSec">  From left to right, Ron Brown Scholars Chaz Beasley, Dasia Moore and Azeezat Adeleke seated during a breakout session at the Ron Brown Scholar Alumni Association Leadership Conference 2015</p></span>-->
<!--</div>-->


<!-- How we do  it-->

<!--<div class="container-fluid methodsection1">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-1"></div>-->
        <!--<div class="col-sm-10">-->
            <!--<h1 class="whatMethod1">How do We Do It?</h1>-->
            <!--<hr align="left" width="40%" >-->
            <!--<div class="row">-->
                <!--<div class="whatSpacer2"></div>-->
                <!--<h3 class="whatMetth">Successfully competing in STEM competitions paves the way to access to STEM programs in the country's leading universities. S<sup>3</sup>P provides the resources to help students do so.-->
                <!--</h3>-->
            <!--</div>-->
            <!--<br class="whatSpacer3">-->
            <!--<div class="row">-->
                <!--<h5 class="whatMeth">  We’ve developed a high-touch, high-impact platform to allow us to help our students achieve this goal.  </h5>-->
            <!--</div>-->
            <!--<br>-->
        <!--</div>-->
        <!--<div class="col-sm-1"></div>-->
    <!--</div>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-1"></div>-->
            <!--<div class='col-lg-5'>-->
                <!--<br>-->
                <!--&lt;!&ndash;<div class="row-fluid"><h1 class="methodHead">Access</h1></div>&ndash;&gt;-->
                <!--<br>-->
                <!--<div class="row">-->

                    <!--<div class="col-lg-6 block1"><h4 class="methodHeader"><i class="fa fa-flask fa-2x" aria-hidden="true"></i><br><br>Placement-->
                    <!--</h4>-->
                        <!--<p class="methodTexxt">Students admitted to S<sup>3</sup>P will be placed into a top STEM research camp for two summers. This opportunity provides our students with access to the latest techniques, research, and ideas in their research area.-->
                        <!--</p></div>-->
                    <!--&lt;!&ndash;<div class="col-lg-6 block2"><h4 class="methodHeader"><i class="fa fa-history fa-2x" aria-hidden="true"></i><br><br>Submission Guidance</h4>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="methodTexxt">Not only do our mentors help students with project development and execution over the course of two years, but we help them effectively market their research to create better outcomes on the nation’s top STEM competitions.</p></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-lg-5">-->
                <!--<br>-->
                <!--<div class="row-fluid"><h1 class="methodHead ">Guidance</h1></div>-->
                <!--<br>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-6 block3"><h4 class="methodHeader"><i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i><br><br>Professional Mentorship</h4>-->
                        <!--<p class="methodTexxt">We connect our students with leading experts in their chosen fields. This allows our students access to the knowledge, resources, and guidance they need to successfully complete their projects.-->
                        <!--</p></div>-->
                    <!--<div class="col-lg-6 block4"><h4 class="methodHeader"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i><br><br>Peer Mentorship</h4>-->
                        <!--<p class="methodTexxt">We connect our students with Brown Scholars and Captains at their university of choice to help them navigate the process of  identifying, applying, and securing acceptance to, the nation’s leading STEM programs. </p></div>-->
                    <!--<div class="col-lg-1"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="methodSpacing"></div>-->
    <!--</div>-->
<!--</div>-->


<!--Quote Block Section-->
<!--<div class="container-fluid  text-center quoteBlock">-->
    <!--<h3 class="text-center quoteText">Interested In Applying?</h3> <br><h4 class="appSub">-->
    <!--The application period opens March 1st for rising high school juniors and seniors. Applicants are encouraged to apply by July 15, 2017.  </h4>-->
    <!--<br> <button type="button" class="btn btn-outline-* btn-lg text-center pull-center eduPartButton ">Join Us!</button>-->
<!--</div>-->


<!--RBS Feature-->

<!--<div class='row'>-->
    <!--<div class="col-lg-1"></div>-->
    <!--<div class="col-lg-5">-->
        <!--<div class="rbsSpace1"></div>-->
        <!--<h5 class="rbsHeader">THE RON BROWN SCHOLAR PROGRAM</h5>-->
        <!--<hr class="rbsDiv">-->
        <!--<h3 class="rbsTop">-->
            <!--Since 1996, the Ron Brown Scholar Program has pursued a single mission: to improve the lives of intellectually gifted but economically challenged African-American students. </h3>-->
        <!--<br>-->
        <!--<h5 class='rbsSub'>-->
            <!--The Ron Brown Scholar Program (RBSP) has evolved into one of the most prestigious scholarships and leadership development programs in the country. Our expertise is in guiding talented African American Youth from society’s margins into mainstream and beyond. Since 1996, RBSP has awarded $40,000 college scholarships to exceptional African American high school seniors who demonstrate a commitment to public service.</h5>-->
        <!--<br>-->
        <!--<a href='#' class='learnMore'><p class="learnLink" > >> Read More</p></a>-->

    <!--</div>-->
    <!--<div class="col-lg-6 imgcont"><span class="rbsOver"><p class="rbsOverlay">Ron Brown Scholar <br>Donielle Newell Buie</p></span><img class="scholarPic" src="http://rbsgps.com/Content/images/rbsp-img.png"></div>-->
<!--</div>-->

<!--Quote Block Section-->
<!--<div class=" container-fluid text-center quoteBlock1"><br><br>-->
    <!--<h3 class="text-center quoteText">Join us on our mission to give more talented African-American students the resources, inspiration, and support needed to acheive excellence in STEM.</h3> <br> <h4 class="eduPart">Become an educational partner.</h4> <br> <button type="button" class="btn btn-outline-* btn-lg text-center pull-center eduPartButton ">Join Us!</button>  </div>-->


<!--Contact Form--->
<!--<div class="container-fluid contactForm">-->
    <!--<h4 class="contTitle">STAY IN THE LOOP</h4>-->
    <!--<hr class="contDivider pull-left" align='left'><br><br>-->
    <!--<p class="contDescrip">-->
        <!--Join our mailing list to be the first to know about program updates, application deadlines and other Ron Brown Scholar Program news.</p>-->
    <!--<br>-->
    <!--<form>-->
        <!--<div class="row">-->
            <!--<div class="col-sm"><div class="form-group">-->
                <!--<label for="firstName"> First Name</label>-->
                <!--<input type="firstName" class="form-control" id="name" placeholder="First Name">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm"><div class="form-group">-->
                <!--<label for="lastName">Last Name</label>-->
                <!--<input type="lastName" class="form-control" id="name" placeholder="Last Name">-->
            <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="exampleInputEmail1">Email address</label>-->
            <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="row-fluid text-center">-->
            <!--<button type="submit" class="btn btn-inverse submitButton btn-lg">Submit</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<div class="container-fluid text-center scrollUp"> <a class="scrollTopLink" href='#'>
    <i class="fa fa-chevron-up scrollIcon" aria-hidden="true"></i><p class="scrollText">Scroll Up</p></a></div>
<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg t1">
            <h5 class="connectHeader">Connect With Us:</h5>
            <br>
            <i class="fa fa-facebook contactIcons fa-2x" aria-hidden="true"></i>
            <i class="fa fa-linkedin contactIcons fa-2x" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-2x contactIcons" aria-hidden="true"></i>
            <i class="fa fa-youtube-play fa-2x contactIcons" aria-hidden="true"></i>
        </div>
        <div class="col-lg t2  contactInfo1"><ul class="contactInfo">
            <br>
            <li class="addressList"><p class="Adlink">1160 PEPSI PLACE SUITE 206 CHARLOTTESVILLE, VA 22901 USA</p></li>
            <li class="addressList"><p class="Adlink">(T) 434-964-1588</p> </li>
            <li class="addressList"><p class="Adlink">(F) 434-964-1589</p></li>
            <li class="addressList"><p class="Adlink">INFO@RONBROWN.ORG</p></li>
        </ul>
        </div>
    </div>
    <div class="row-fluid text-center footerBot">©2017 RON BROWN LEADERS PROGRAM. ALL RIGHTS RESERVED.
        <br>
        <a href>Terms of Use</a> </div>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="https://use.fontawesome.com/fd4d82f497.js "></script>

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
</body>
</html>