<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/liststylesheet.css">
    <link rel="stylesheet" href="../static/css/liststylesheet.css">
</head>
<body>

<th:block th:replace="base::navlinks"></th:block>
<h1 style="text-align: center;color:dodgerblue">List of Applicants</h1>
<div >
    <table id="keywords" cellspacing="0" cellpadding="0" style="width:50%">
        <thead  style="text-align: center">
        <tr >
            <th><span>Applicant Name</span></th>
            <th><span>Program</span></th>
            <th><span>Details</span></th>
            <th><span>Action</span></th>
        </tr>
        </thead>
        <tbody  th:each="course:${courses}">

            <tr th:each="user:${course.userApplied}">
                <td th:text="${user.username}"></td>
                <td th:text="${course.courseName}"></td>
                <td> <a th:href="@{/qualification/{applicantid} (applicantid = ${user.id})}"class="btn btn-success"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Qualifications </a></td>
                <td> <a th:href="@{/approve/{courseid}/{applicantid}(courseid=${course.id},applicantid=${user.id})}" class="btn btn-success"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;  Approve </a></td>
            </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="base::footer"></th:block>
<th:block th:replace="base::js"></th:block>
</body>
</html>