<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/liststylesheet.css">
    <link rel="stylesheet" href="../static/css/liststylesheet.css">

<body>

<th:block th:replace="base::navlinks"></th:block>



<h1>List of Students</h1>
<div >
    <table id="keywords" cellspacing="0" cellpadding="0" style="width:100%">
        <thead  style="text-align: center">
        <tr >
            <th><span>Program Name</span></th>
            <th><span>No Of Applicants</span></th>
            <th><span>No Of Approved Applicants</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${java.courseName}"></td>
            <td th:text="${noOfJavaApplicants}"></td>
            <td th:text="${noOfJavaApproved}"></td>

        </tr>
        <tr>
            <td th:text="${tech.courseName}"></td>
            <td th:text="${noOfTechApplicants}"></td>
            <td th:text="${noOfTechApproved}"></td>
        </tr>

        </tbody>
    </table>
</div>





<th:block th:replace="base::footer"></th:block>


<th:block th:replace="base::js"></th:block>

</body>
</html>