<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/liststylesheet.css">
    <link rel="stylesheet" href="../static/css/liststylesheet.css">
</head>
<body>
<th:block th:replace="base::navlinks"></th:block>



<h1 style="text-align: center;color:dodgerblue">List of Students</h1>
<div >
    <table id="keywords" cellspacing="0" cellpadding="0" style="width:40%">
        <thead  style="text-align: center">
        <tr >
            <th><span>Program Name</span></th>
            <th><span>No Of Applicantions</span></th>
            <th><span>Enrolled Students</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course:${courses}">
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.noofapplications}"></td>
            <td th:text="${course.noofstudents}"></td>

        </tr>

        </tbody>
    </table>
</div>





<th:block th:replace="base::footer"></th:block>


<th:block th:replace="base::js"></th:block>

</body>
</html>