<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="css/liststylesheet.css">
    <link rel="stylesheet" href="../static/css/liststylesheet.css">
</head>
<body>
<th:block th:replace="base::navlinks"></th:block>
<h1>List of Recommended Programs</h1>
<div >
    <table id="keywords" cellspacing="0" cellpadding="0" style="width:100%">
        <thead  style="text-align: center">

        <tr >
            <th><span>Program </span></th>
            <th><span>Action</span></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="program:${recomended}">
            <td th:text="${program.courseName}"></td>
            <td><a th:href="@{/apply/{id}(id = ${program.id})}">Apply</a></td>
        </tr>

        </tbody>
    </table>
</div>





<th:block th:replace="base::footer"></th:block>
<th:block th:replace="base::js"></th:block>

</body>
</html>