<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>confirmation</title>
</head>
<body>
<th:block th:replace="base::navlinks"></th:block>
<div th:each="user:${user}" style="text-align: center ;padding-top:5%">
    <h3 th:inline="text"> Hello <strong>[[${user.username}]]</strong>, Please select one or more of the criterias....
                <a th:href="@{/criteria}">Go Back</a>
								</h3>
</div>

<th:block th:replace="base::footer"></th:block>
<th:block th:replace="base::js"></th:block>

</body>
</html>