<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="base::navlinks"></div>
<form action = "#"
      th:action="@{/addusertopics}"
      th:object="${item}"
      method="post">
    <input type="hidden" th:field="*{id}" />

    Enter a Topic you'd like to see news on here: <input type="text" th:field="*{interestName}" />
    <span th:if="${#fields.hasErrors('interestName')}"
          th:errors="*{interestName}"></span><br />


    <input type="submit" values="Submit" />
</form>
</body>
</html>