<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/liststylesheet.css">
    <link rel="stylesheet" href="../static/css/liststylesheet.css">

<body>

<th:block th:replace="base::navlinks"></th:block>



<h1>List of Programs</h1>
<div >
    <table id="keywords" cellspacing="0" cellpadding="0" style="width:100%">
        <thead  style="text-align: center">
        <tr>
            <th><span>Program</span></th>
            <th><span>Action</span></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="program:${approvedfor}">
                <td th:text="${program.courseName}"></td>
                <th> <a th:href="@{/enroll/{courseid} (courseid = ${program.id})}">   Enroll </a></th>
            </tr>


        </tbody>
    </table>
</div>





<th:block th:replace="base::footer"></th:block>


<th:block th:replace="base::js"></th:block>

</body>
</html>