<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<th:block th:replace="base::navlinks"></th:block>

<div sec:authorize="hasAuthority ('ADMIN')" style="text-align: center">
    <h1>User Qualifications for Techhire</h1>


    <p th:text="${techqualification}">&bull;</p><br/>
    <h1>User Qualifications for Java Bootcamp</h1>
    <p th:text="${javaqualification}">&bull;</p><br/>


</div>

<th:block th:replace="base::footer"></th:block>
<th:block th:replace="base::js"></th:block>

</body>
</html>